@import url('https://fonts.googleapis.com/css2?family=Playball&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins;
}
body{
    display: flex;
    height: 100vw;
background-color: aliceblue;
    justify-content: center;
    align-items: center;
}
.profilecard{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width:  370px;
    width: 100%;
    background: white;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
    border-radius: 25px;
    padding: 25px;
    position: relative;
}
.profilecard::before{
    content: "";
    position: absolute;
    background-color: black;
    height: 36%;
    width: 100%;
    top: 0;
    border-radius: 24px 24px 0px 0px;

}
.image{
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: black;
    padding: 3px;

}
.image img{
    border-radius: 50%;
    height: 100%;
    width: 100%;
    object-fit: cover;
    border: 3px solid whitesmoke;

}
.text{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 12px;
    font-family: poppins;

}
.small i{
    width: 30px;
}
.big{
    font-size: 30px;
    font-weight: 500;
}
.small{
    font-size: 15px;
}
.mediabutton{
    display: flex;
    justify-content: center;
    align-items: center;

}
.mediabutton .link{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 34px;
    width: 34px;
    text-decoration: none;
    background-color: blue;
    font-size: 18px;
    margin: 0px 8px;
    color: white;
    border-radius: 50%;
}
.buttons{
    display: flex;
    
    align-items: center;
    margin-top: 20px;
    
}
.but{
    padding: 8px 20px;
    /* width: 100px; */
    margin: 0px 12px;
    border-radius: 24px;
    border: none;
    background-color: rgb(54, 54, 235);
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
}
.but:hover{
    background-color: blue;
}
.analytics{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    
    
}
.data{
    display: flex;
    align-items: center;
    justify-content: center;
    
    padding: 0px 20px;
    border-right: 1px solid rgb(150, 143, 143);
}
.data:last-child{
    border-right: none;
}